.nav-background{
    background-color: #110915;
}
.dark{

    color: #ffffff66 !important;
}
.active{
    color: azure !important;
}

.dark:hover{
    color :azure !important;
}

.home-background{
   
    margin-top: -0.3%;
    background-image: url(./Assets/Images/Homebg.png)  ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1500px;
   
}

@media screen and (max-width: 767px) {
    .home-background{
        height: 400px;
    }
    
}

